set output "figures/youtube_200ms_combined.png"
set title "YouTube throughput and video playback rate vs time (6Mbps bottleneck)"
plot "data/youtube_200ms_client_throughput.data" using 1:2 title 'Client Throughput' with lines,\
      "data/youtube_200ms_dl_throughput.data" using 1:2 title 'Flow Throughput' with lines,\
      "data/youtube_playback_rate.data" using 1:2 title 'Video Playback Rate' with lines,\

